/*Image logo style*/
img.imageLogo{
    width:50%;
    height: auto;
    display:block;
    text-align:center;
    margin: 0 auto;
}

/*Navbar padding*/
div.mainNavBar div{
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none!important; /* for webkit */
}

.mainTiles div{
    min-height:460px;
    
}

.mainTiles img{
    width: 40%;
    height: auto;
}


.navBarElement div{
   width: 100%; 
}