/*Image logo style*/
img.imageLogo{
    width:50%;
    height: auto;
    display:block;
    text-align:center;
    margin: 0 auto;
}

/*Navbar padding & underline removal */
div.mainNavBar div{
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none!important; /* for webkit */
}

.mainTiles div{
    min-height:auto;
    
}

.mainTiles img{
    width: 40%;
    height: auto;
}


.navBarElement div{
   width: 100%; 
   text-align: left;
}

div.gallery{
    max-width: 50%;
    position:relative;
}

div.gallery img {
    width:75%;
    margin: 0 auto;
}

#map {
width: 100%;
height: 400px;
}

.hooverMenuBtn{
    position:fixed; 
    padding: 0px 15px;
}

.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
}